---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout>
  <div class="flex bg-red-500 justify-between p-10">
    <section class="home-section">
      <h1>Nutricion Profesional</h1>
      <h2>Alejandra Cancio</h2>
    </section>
    <section>IMAGEN</section>
  </div>
</BaseLayout>
