---
import NavButton from "../components/NavButton.astro";
---



<footer class="rounded-lg shadow bg-naranja ">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="#top" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img
              class="h-16 w-16 rounded-full hover:scale-125 duration-200 cursor-pointer"
              src="/nutricion_logo.png"
              alt="Logo"
            />
          </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-black sm:mb-0  "
      >
        <li>
            <NavButton href="/nosotros" text="Nosotros" />
        </li>
        <li>
            <NavButton href="/howTo" text="Como Comprar" />

        </li>
        <li>
            <NavButton href="/productos" text="Productos" />

        </li>
        <li>
            <NavButton href="/contact" text="Contacto" />

        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-autoborder-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-centertext-gray-400"
      >© 2023 <a href="https://flowbite.com/" class="hover:underline"
        >Flowbite™</a
      >. All Rights Reserved.</span
    >
  </div>
</footer>
