---
import SvgNav from "./SvgNav.astro";

import NavButton from "../components/NavButton.astro";
---

<nav class="bg-gray-100 px-7">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-20 overflow-visible border-b-slate-900"
  >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        class="h-16 w-16 rounded-full hover:scale-125 duration-200 cursor-pointer"
        src="/nutricion_logo.png"
        alt="Logo"
      />
    </a>
    <button
      id="menu-toggle"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:bg-verde focus:outline-none focus:ring-2 focus:ring-verde"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <div class="border-2 border-blue-500">
        <SvgNav />
      </div>
    </button>
    <div class="hidden w-full md:block md:w-auto z-50" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-verde rounded-lg md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <NavButton href="/nosotros" text="Nosotros" />
        </li>
        <li class="bg-verde rounded text-white">
          <NavButton href="/howTo" text="Hace tu pedido" />
        </li>
        <li>
          <NavButton href="/productos" text="Productos" />
        </li>

        <li>
          <NavButton href="/contact" text="Contacto" />
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="/src/js/handleMenu"></script>
