<nav class="navbar bg-naranja text-white h-14 content-center">
    <div class="container mx-auto flex justify-between items-center">
      <div class="logo">
        <a href="/" class="text-2xl font-bold">Nutricion Profesional</a>
      </div>
      <ul class="flex space-x-4">
        <li><a href="/about" class="hover:text-verde">Nosotros</a></li>
        <li><a href="/how-to-order" class="hover:text-verde">Cómo pedir</a></li>
        <li><a href="/products" class="hover:text-verde">Productos</a></li>
        <li><a href="/contact" class="hover:text-verde">Contacto</a></li>
      </ul>
    </div>
  </nav>
  