---
import SvgNav from "./SvgNav.astro";
---

<nav class="bg-naranja">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-20 overflow-visible"
  >
    <a href="#top" class="flex items-center space-x-3 rtl:space-x-reverse ">
      <img
        class="h-16 w-16 rounded-full hover:scale-125 duration-200 cursor-pointer"
        src="/nutricion_logo.png"
        alt="Logo"
      />
    </a>
    <button
      id="menu-toggle"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg md:hidden hover:bg-verde focus:outline-none focus:ring-2 focus:ring-verde"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <SvgNav />
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-verde rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <a
            href="/about"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-verde md:hover:bg-verde md:border-0 md:hover:text-black md:p-3"
            aria-current="page">Nosotros</a
          >
        </li>
        <li>
          <a
            href="/how-to-order"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-verde md:hover:bg-verde md:border-0 md:hover:text-black md:p-3"
            >Cómo pedir</a
          >
        </li>
        <li>
          <a
            href="/products"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-verde md:hover:bg-verde md:border-0 md:hover:text-black md:p-3"
            >Productos</a
          >
        </li>

        <li>
          <a
            href="/contact"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-verde md:hover:bg-verde md:border-0 md:hover:text-black md:p-3"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="/src/js/handleMenu"></script>
