---
import '../styles/globalCss.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>Nutricion Profesional</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
